body {
    
font-family: 'Caveat' , cursive;
background: url('../images/wallpaper.jpg') no-repeat center center fixed;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    color: #ffffff;
    margin: auto;
    height: 100vh;
    max-width: auto;
    text-align: center;
    position: relative;

   
}

h1 {
    font-size:5rem;
    color:#e3e6ea;
}

h2 {
    text-align: center;
    font-size:4rem;
    margin: 5%;
    padding:2%;
    display: inline-block;
    float:center;
    color:#000000;
    width:fit-content;
    justify-content:center;
    font-weight: 200px;
    background:rgba(255,255,255,0.4);
    border-radius: 25%;
}

h3 {
    font-size: 4rem;
    margin:auto 0;
}

/*------------------------Navbar----------------------------------*/

.navbar {
    background: #b3b4b5;
    width:100%;
    
}


.navbar-brand {
    font-size: 4rem;
    color:#000000;
}


.navbar-nav {
   font-size: 3rem;
   float: right;
}


.navbar-header {
    margin-bottom: 10px;
    font-size: 3rem;
    background: #b3b4b5;
}

.nav-item a {
    color: #000000;
    padding:25px;
}

/*------------------------Containers----------------------------------*/

.callout {
    width:100%;
    background-color: transparent;
    
}

.paragraph {
    background:rgba(255,255,255,0.4);
    font-family: 'Nanum Myeongjo', serif;
    border: solid black 2px;
    border-radius: .25%;
    padding: 20px;
    width: 100%;
    color: #000000;
    float: center;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;

}

.callout-container {
    font-weight: bold;
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    margin-left: 25%;
}

/*------------------------Story----------------------------------*/

.story {
    margin: auto;
    padding: auto;
    justify-content: center;
}

#biophotos 
figure {
    margin:10px;
    padding:10px;
    border-radius:20px;
    width:100%;
    display: relative;
    align-items: center;
    margin-bottom: 15%
}
    
#biophotos 
figure img {
    border-radius: 50%;
    margin: 20px 0 0;
    padding: 5px;
    background-color: #000000;
    display: relative;
}

#biophotos 
figure p {
    margin:10px;
   padding:10px;
    background:rgba(255,255,255,0.4);
    border: solid black 2px;
    font-size: 2rem;
    text-align: center;
    color:#000000; 
    
}


h3 .bandname {
    text-align: center;
}


/*------------------------Tour----------------------------------*/

#tour .container-fluid ul {
    list-style: none;
    padding:10px;
    background:rgba(255,255,255,0.4);
    border: solid black 2px;
    color:#000000;
}

ul {
    font-size: 2rem;

}


/*------------------------Media----------------------------------*/

#audio {
    display: inline;
    margin-bottom: 20px;
    justify-content: center;
    align-items: stretch;
    margin:10px;
    padding:10px;
    width:100%;
    align-items: stretch;
    display: inline;
}

#video {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.video {
    justify-content:center;
    margin:25px;
    padding:10px;
}

/*------------------------Form----------------------------------*/

form {
    background:rgba(255,255,255,0.4);
    font-family: 'Caveat', cursive;
    border: solid black 2px;
    border-radius: 25px;
    margin:auto;
    padding: 20px;
    width: 100%;
    color: #000000;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    float: right;
    
}


/*------------------------Footer----------------------------------*/

footer {
    
    display: block;
    background: #b3b4b5;
    height: auto;
    align-items: center;
    width:100%;
    
}

footer a {
  color: #000000;
  font-size: 3rem;
  padding: 10px;
  border-radius: 25%;
  transition: .5s ease-in-out;
  text-align: center;
}

footer a:hover {
  color: white;
  transition: ease-in-out .5s;
}

.social-links {
    text-align: center;
}

/*------------------------Media Queries----------------------------------*/

@media screen and (max-width: 600px) {
  body {
    background: #000000;
  }
}

